.topnav {
  overflow: hidden;
  background-color: white;
    box-shadow: 10px 10px 10px #042f4b;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.google_translate_element {
    width: 10%;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 5px 25px 0px;
  text-decoration: none;
  font-size: 20px;
}


.topnav a:hover {
  background-color: aqua;
    box-shadow: 5px 5px 20px blue;
  color: black;
}
 

.topnav a.active {
  background-color: skyblue;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    align-self: center;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    align-self: center;
  }
}